.flexBody {
  display: flex;
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
}

.leftCol {
  background-color: black;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightCol {
  background-color: red;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.text {
  color: white;
}